/* DESKTOP */
body {
  background-color: inherit;
  color: inherit;
  font-family: Verdana, sans-serif;
  margin-left: 5em;
  margin-right: 5em;
  transition: all 0.5s;
}

main {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

header {
  /* Source: https://wallpaperaccess.com/full/1259313.jpg */
  background:  url(../images/applesbg.jpg) no-repeat center center;
  background-size: cover;
  text-align: center;
  color: white;
  background-color: inherit;
  padding-top: 15px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 2px;
  margin-left: 0em;
  margin-right: 0em;
}

header a {
  color: white;
  text-decoration: none;
  margin-bottom: 2px;
}

header p {
  margin-top: 5px;
  font-family: Verdana, sans-serif;
  font-style: italic;
}

h1 {
  font-size: 50px;
  font-family: Times, serif;
  font-variant: small-caps;
  text-shadow: 2px 2px black;
  border: solid;
  border-width: 2px;
  padding: 10px;
  margin-bottom: 10px;
}

h2, h3, h4 {
  font-family: Times, serif;
}

h2 {
  text-align: center;
  font-size: 40px;
}

h3 {
  font-size: 30px;
  background-color: #f4e4e0;
  padding: 10px;
}

h4 {
  font-size: 25px;
  background-color: #fff5f4;
  padding: 10px;
}

/* inline nav bar */
nav ul {
  margin-top: 0px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: #c45031;
}

nav li {
  display: inline-block;
  padding-left: 20px;
  padding-right: 20px;
  margin: 10px;
  color: inherit;
  background-color: inherit;
  letter-spacing: 3px;
}

nav a {
  text-decoration: none;
  color: white;
  background-color: inherit;
  border: solid transparent;
  border-width: 2px;
  border-radius: 30px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

nav a:hover {
  border: solid;
  border-color: white;
  border-width: 2px;
}
/* inline nav bar END */

cite {
  font-size: 12px;
 }

footer {
  background-color: #c45031;
}

footer p a, footer cite a {
  color: #f4e4e0;
  font-style: italic;
  letter-spacing: 0.1em;
}

footer p a:hover, footer cite a:hover {
  color: white;
}

footer p {
  text-align: center;
  padding: 10px;
}

.footer {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: white;
  font-size: 25px;
  font-family: Times, serif;
}

.footer p {
  padding: 0px;
  font-variant: small-caps;
}

.blockimg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  text-align: center;
}

/* large image that takes up whole width */
.blockimg img {
  max-width: 100%;
  max-height: 100%;
}

p a, figure a, h4 a {
  font-weight: bold;
  color: #b0492e;
}

p a:hover, figure a:hover, h4 a:hover {
  color: #d5745a;
}


/* DESKTOP ABOUT PAGE */
/* place image and text for Vendors/Events inline */
.imgtext {
  display: flex;
  flex-direction: row;
  margin-top: 40px;
}

.text {
  width: 50%;
  padding-left: 10px;
  padding-right: 10px;
  margin-right: 10px;
}

.text h4 {
  margin-top: 0;
}

.imgtext figure {
  width: 50%;
  margin-left: auto;
  margin-right: 20px;
  margin-top: auto;
  margin-bottom: auto;
  height: auto;
}

.imgtext img {
  max-width: 100%;
  max-height: 100%;
}

/* DESKTOP GALLERY */
.gallery {
  display: flex;
  flex-direction: row;
}

.gallerycolumnleft {
  text-align: right;
  width: 50%;
  margin: 5px;
}

.gallerycolumnright {
  text-align: left;
  width: 50%;
  margin: 5px;
}

.gallerycolumnleft figure, .gallerycolumright figure {
  margin: 5px;
}

.galleryimg {
  max-width: 100%;
  max-height: 100%;
}

/* formatting intro sentence */
.keyinfo {
  background-color: #f4e4e0;
  padding: 10px;
  margin-bottom: 10px;
}
/* END DESKTOP */


/* MOBILE */
@media (max-width: 700px) {
  /* general: decrease left/right margins, increase text size/readability */
  body {
    background-color: inherit;
    color: inherit;
    font-family: Verdana, sans-serif;
    margin-left: 1em;
    margin-right: 1em;
    font-size: 120%;
    transition: all 0.5s;
  }

  main {
    width: 98%;
    margin-left: auto;
    margin-right: auto;
    line-height: 140%;
  }

  header {
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 2px;
  }

  h1 {
    font-size: 35px;
    border-width: 2px;
    padding: 10px;
    margin-bottom: 5px;
    transition: all 0.5s;
  }

  header p {
    font-size: 60%;
    margin-bottom: 2px;
  }

  header cite {
    font-size: 40%;
  }

  /* nav bar: block display */
  nav ul {
    padding-left: 0;
    padding-right: 0;
    background-color: #953e27;
  }

  nav li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    font-size: 80%;
    padding-left: 0;
    padding-right: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 2px;
    margin-right: 2px;
  }

  nav a {
    border: solid;
    border-color: white;
    border-width: 2px;
    background-color: #c45031;
  }


  /* MOBILE ABOUT PAGE: change to block display */
  .imgtext {
    display: block;
  }

  .text {
    width: 100%;
  }

  .text h4 {
    margin-top: 20px;
    font-size: 30px;
  }

  .imgtext figure {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  .imgtext figure img {
    width: 100%;
  }

  /* MOBILE GALLERY: change to block display */
  .gallery {
    display: block;
    text-align: center;
    width: 100%;
  }

  .gallerycolumnleft {
    width: 100%;
  }

  .gallerycolumnright {
    width: 100%;
  }

  .gallery figure img {
    width: 100%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
}
/* END MOBILE */


/* TABLET */
@media (max-width: 1200px) and (min-width: 700px) {
  /* general: decrease left/right margins, increase text size/readibility */
  body {
    margin-left: 0.5em;
    margin-right: 0.5em;
    transition: all 0.5s;
  }

  main {
    width: 90%;
    line-height: 140%;
  }

  h2 {
    font-size: 45px;
  }

  h3 {
    font-size: 35px;
  }

  h4 {
    font-size: 30px;
  }
}
/* END TABLET */


/* FEEDBACK FORM DESKTOP */
.hidden {
  display: None;
}

form {
  margin-left: 6em;
  margin-right: 6em;
  transition: all 0.3s;
}

.inlineLabelComponent {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  margin-left: 50px;
}

.inlineLabelComponent > *:first-child {
  text-align: right;
  margin-right: 5px;
  width: 60px;
}

.reqLabel {
  display: flex;
  flex-direction: row;
  padding-right: 5px;
  align-self: flex-end;
}

.textArea {
  display: flex;
  flex-direction: column;
}

.form h5 {
  color: #b93434;
}

abbr {
  color: #b93434;
  text-decoration: none;
}

li {
  padding: 10px;
}

textarea {
  margin-top: 5px;
  font-size: 16px;
  font-family: Verdana, sans-serif;
}

input[type="text"] {
  font-size: 16px;
  font-family: Verdana, sans-serif;
}

input[type="email"] {
  font-size: 16px;
  font-family: Verdana, sans-serif;
}

.labelCheckboxGroup {
  margin-top: 8px;
  margin-left: 20px;
}

.labelCheckboxPair {
  margin: 5px;
}

#userName {
  width: 150px;
}

#userEmail {
  width: 250px;
}

#userExp {
  height: 60px;
  max-width: 700px;
}

#userFav {
  height: 40px;
  max-width: 700px;
}

#userFuture {
  height: 40px;
  max-width: 700px;
}

.formFeedback {
  color: #b93434;
  font-size: 80%;
}

.submit {
  display: block;
  margin-left: auto;
  font-size: 18px;
  background-color: #b0492e;
  color: white;
  padding: 7px;
}

.submit:hover {
  background-color: #913b24;
}
/* END FEEDBACK FORM DESKTOP */


/* FEEDBACK FORM MOBILE */
@media (max-width: 800px) {
  form {
    margin-left: 0;
    margin-right: 0;
  }

  .submit {
    font-size: 140%;
    padding: 10px;
  }

  .inlineLabelComponent {
    display: flex;
    flex-direction: column;
  }

  input[type="text"] {
    font-size: 20px;
  }

  input[type="email"] {
    font-size: 20px;
  }

  textarea {
    font-size: 20px;
  }

  .labelCheckboxGroup {
    display: flex;
    flex-direction: column;
  }

  .labelCheckboxPair {
    margin: 10px;
  }

  input[type=checkbox] {
    width: 20px;
    height: 20px;
  }

  .reqLabel {
    align-self: auto;
  }

  li {
    padding: 15px;
  }

  #userName {
    width: 250px;
    height: 25px;
  }

  #userEmail {
    width: 300px;
    height: 25px;
  }

  #userExp {
    height: 100px;
  }

  #userFav {
    height: 60px;
  }

  #userFuture {
    height: 60px;
  }
}
/* END FEEDBACK FORM MOBILE */


/* FEEDBACK FORM TABLET */
@media (max-width: 1200px) and (min-width: 800px) {
  form {
    margin-left: 5em;
    margin-right: 5em;
  }

  #userName {
    height: 20px;
  }

  #userEmail {
    height: 20px;
  }

  #userExp {
    max-width: 600px;
    height: 60px;
  }

  #userFav {
    max-width: 600px;
    height: 40px;
  }

  #userFuture {
    max-width: 600px;
    height: 40px;
  }
}
/* END FEEDBACK FORM TABLET */
